<div>Select your user</div>

<select *ngIf="usernames$ | async as usernames"
        (change)="login($event)">
  <option disabled
          value="anonymous"
          label="logged out"
          [selected]="activeUsername === 'anonymous'"
  ></option>
  <option *ngFor="let username of usernames"
          [value]="username"
          [label]="username"
          [selected]="activeUsername === username">
  </option>
</select>


<button (click)="logout()" [disabled]="activeUsername === 'anonymous'">
  Log out
</button>
