<div *ngIf="activeUser">
  <table>
    <tr>
      <td>Name:</td>
      <td class="username" [class.online]="activeUser.status === 'online'">{{ activeUser.username }}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{ activeUser.description }}</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td>{{ activeUser.age }}</td>
    </tr>
    <tr>
      <td>Favorite Animal:</td>
      <td>{{ activeUser.favoriteAnimal }}</td>
    </tr>
  </table>
</div>
