<app-user-selector></app-user-selector>
<app-user-info></app-user-info>

<!--<hr/>-->
<!---->
<!--<app-product-selector></app-product-selector>-->
<!--<app-add-to-wishlist></app-add-to-wishlist>-->
<!---->
<!--<hr/>-->
<!---->
<!--<app-show-wishlist></app-show-wishlist>-->
<!---->
<!--<hr/>-->
<!---->
<!--<app-show-wishlist-live></app-show-wishlist-live>-->
